<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          RegisterPage
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" method="POST">
            <input type="hidden" name="_token" value="dYPuS7mefRVdZRtiB49pjf0gOSjRx3quu3IKzX8u">

            <div class="form-group">
              <p class="col-md-4 control-label">E-Mail Address</p>
              <div class="col-md-6">
                <input type="email" class="form-control" name="email" value="">
              </div>
            </div>

            <div class="form-group">
              <p class="col-md-4 control-label">Password</p>
              <div class="col-md-6">
                <input type="password" class="form-control" name="email" value="">
              </div>
            </div>

            <div class="form-group">
							<div class="col-md-6 col-md-offset-4">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-link">Forgot Your Password?</a>
              </div>
						</div>
          </form>
          <hr/>
          <div class="col-md-6 col-md-offset-4">
            Not a members? <a routerLink="../register">Click here to register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>