<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          MainPage
        </div>
        <div class="panel-body">
          <tabset #staticTabs>
            <tab heading="Register Users" class="p-tap">
            </tab>
            <tab heading="Client Packages" class="p-tap" active=true>
              <div>
                <small>Ed Shareen, fans@ed-shareen.com</small>
                <h4><b>Computer Hardware</b> <small>28 July, 2017 - 10:45 pm</small></h4>
                <ul>
                  <li><strong>Route Destination:</strong> Karachi to Lahore <small> - Block 4, Clifton Karachi</small></li>
                  <li><strong>Item Details:</strong> Hardware, Less then 10KG, Total 6</li>
                  <li><strong>Pioraty:</strong> Urgent</li>
                </ul>
                <div class="col-md-offset-10">
                  <button class="btn btn-success btn-group btn-xs">Success</button>
                  <button class="btn btn-danger btn-xs">Cancel</button>
                </div>
                <hr/>
              </div>

              <div>
                <small>Niki Minaj, niki@nikiMJ.com</small>
                <h4><b>Non-Perishable Food Items</b> <small>21 July, 2017 - 00:18 pm</small></h4>
                <ul>
                  <li><strong>Route Destination:</strong> Gawadar to Haripur <small> - Unknown</small></li>
                  <li><strong>Item Details:</strong> Food, Less then 10KG, Total 1</li>
                  <li><strong>Pioraty:</strong> Normal</li>
                </ul>
                <div class="col-md-offset-10">
                  <button class="btn btn-success btn-group btn-xs">Success</button>
                  <button class="btn btn-danger btn-xs">Cancel</button>
                </div>
                  <hr/>
              </div>
            </tab>
            <tab heading="Details" class="p-tap" disabled=true>
            </tab>
          </tabset> 
        </div>
      </div>
    </div>
  </div>
</div>